.task-item-container {
    width: 100%;
    display: grid;
    grid-template:
        "state title title ." 40px
        "state dueDate description priority" 50px
        "state buttons description delButton" 60px / 10px 2fr 5fr 2fr;
    background-color: var(--primary);
    border: var(--primary) 2px solid;
    border-radius: 0.75rem;
    height: 100px;
    overflow: hidden;
    transition: height 0.3s;
}

.task-item-container:hover {
    height: 150px;
}

.hide-completed > .task-item-container[data-is-completed="true"] {
    display: none;
}

.task-state {
    grid-area: state;
    background-color: lightblue;
    width: 10px;
}

.task-state[data-task-state="checked"] {
    background-color: var(--state-completed);
}

.task-state[data-task-state="overdue"] {
    background-color: var(--high);
}

.task-delayed {
    background-color: orange;
}

.task-completed {
    background-color: green;
}

.task-title {
    display: flex;
    align-items: center;
    padding-left: 15px;
    grid-area: title;
}

.task-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    grid-area: buttons;
}

.task-delete-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    grid-area: delButton;
}

.task-description {
    grid-area: description;
    padding: 10px;
    overflow: scroll;
}

.task-due-date {
    display: flex;
    padding-left: 15px;
    padding-top: 10px;
    grid-area: dueDate;
}

.task-priority {
    display: flex;
    gap: 5px;
    justify-content: center;
    padding: 20px;
    grid-area: priority;
}

.active-priority {
    color: var(--middle);
}

.inactive-priority {
    color: var(--inactiv);
}

.task-button {
    background: none;
    border: 1px solid var(--secondary-button);
    width: 32px;
    height: 32px;
    border-radius: 17px;
    transition: all 0.5s;
    color: var(--secondary-button);
}

.task-button:hover {
    background: var(--secondary-button);
    color: var(--primary-button);
}

.task-button:active {
    transform: translateY(2px);
}

.task-button[data-task-state="COMPLETED"] {
    background-color: var(--secondary-button);
    color: var(--primary-button);
}

@media (max-width: 600px) {
    .task-item-container {
        display: grid;
        grid-template:
            "state title title" 40px
            "state dueDate description" 50px
            "state priority description" 50px
            "state buttons delButton" 60px / 10px 2fr 5fr;
    }

    .task-delete-container {
        justify-content: flex-start;
        padding-left: 0.5rem;
    }

    .task-item-container:hover {
        height: 200px;
    }
}
